@import "filtros";

.pesquisa {
  border-radius: calc($border-radius * 2);
  #searchForm {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;

    #s {
      border: 0;
      background: #efefef;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: black;
    }
    button {
      padding: 0.3rem 2rem;
      border: none;
      background: black;
      color: white;
      border-radius: 8px;
    }
  }
}

.cards {
  border-radius: calc($border-radius * 2);
  justify-content: space-between;
}

.produtos.shadow-none {
  margin-top: 3rem;
}

@include media-breakpoint-down(lg) {
  .produtos {
    margin: 0 auto;
    .navbar-toggler {
      position: sticky;
      top: 0;
      z-index: 1;
      width: 100%;
      padding: 1rem 2rem;
      border: 2px solid #dbdbdb;
      background: white;
      font-size: 1.6rem;
    }
    .nav-position {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .navbar {
      background-color: white;
    }
  }
}

@include media-breakpoint-down(sm) {
  .pesquisa #searchForm {
    grid-template-columns: 1fr;

    button {
      padding: 0.7rem;
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  .page-numbers {
    padding: 0.2rem 0.7rem;
    border: 1px solid $n3;
    border-radius: $border-radius;

    &.current {
      background-color: $n5;
      color: $n0;
    }
  }
}
