/*

Abaixo são os estilos para botão 'btn' e botão primário 'btn-primary'
Contém mais seletores apenas para unificar qualquer mudança.
Assim, qualquer alteração feita, reflete no site todo.

*/

.btn, // classe principal
.single_add_to_cart_button,
.woocommerce a.button.alt,
.return-to-shop .wc-backward.button.wp-element-,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,.woocommerce button.woocommerce-Button.button.wp-element-button,
#place_order {
  border-radius: calc($border-radius * 2) !important;
  font-size: 1.1rem !important;
  padding: 0.8rem 2rem !important;
  border: 2px solid transparent !important;
  transition: 0.3s all !important;
}

.btn-primary, // classe principal
.single_add_to_cart_button,
.woocommerce a.button.alt,
.return-to-shop .wc-backward.button.wp-element-button,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,.woocommerce button.woocommerce-Button.button.wp-element-button,
#place_order {
  border-color: $c3 !important;
  background-color: $c5 !important;
  color: $c0 !important;
  box-shadow: $box-shadow !important;
  font-weight: 500 !important;
  &:hover,
  &:active,
  &:focus {
    transform: scale3d(0.95, 0.95, 1);
    border-color: $c3 !important;
    background-color: $c5 !important;
    box-shadow: none !important;
    color: $c0 !important;
  }
}

.btn-secondary {
  border-color: $c5;
  background-color: $c0;
  color: $c5;
  box-shadow: $box-shadow;
  font-weight: 500 !important;
  &:hover,
  &:active,
  &:focus {
    transform: scale3d(0.95, 0.95, 1);
    border-color: $c5 !important;
    background-color: $c0 !important;
    box-shadow: none !important;
  }
}

.btn-primary[disabled],
.btn-secondary[disabled] {
  transform: none !important;
  pointer-events: none;
  opacity: 0.7;
}