.container {
  max-width: 1500px;
  margin: 0 auto;
}

img:not([src$=".svg"]) {
  max-width: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

body {
  font-family: $font-primary;
  background-color: $background;
}

body {
  display: flex;
  flex-direction: column;
}

.container-index {
  flex: 1 1;
  min-height: calc(100vh - 140px);
}

mark {
  padding: 0.2rem 0.5rem;
  background-color: #c0dfff;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $c5;
  border-radius: $border-radius;
}

::-webkit-scrollbar-track {
  background: $background;
}
