@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Raleway:wght@400&display=swap");

$font-primary: "Poppins", sans-serif;
$font-display: "Raleway", sans-serif;

$background: #f0f0f0;

$n0: #fff;
$n1: #a1a1a1;
$n2: #525252;
$n3: #292929;
$n4: #1b1b1b;
$n5: #0e0e0e;

$green: rgb(7, 197, 7);
$blue: #1578df;

$border-radius: 8px;

$box-shadow: 0 0 13px hsl(0deg 0% 79% / 25%);

.container {
  max-width: 1500px;
  margin: 0 auto;
}

img:not([src$=".svg"]) {
  max-width: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

body {
  font-family: $font-primary;
  background-color: $background;
}

.btn,
.single_add_to_cart_button,
.woocommerce a.button.alt,
.return-to-shop .wc-backward.button.wp-element-button {
  border-radius: calc($border-radius * 2);
  font-size: 1.1rem;
  padding: 0.8rem 2rem;
  border: 2px solid transparent;
  transition: 0.3s all;
}

.btn-primary,
.single_add_to_cart_button,
.woocommerce a.button.alt,
.return-to-shop .wc-backward.button.wp-element-button {
  border-color: $n3;
  background-color: $n5;
  color: $n0;
  box-shadow: $box-shadow;
  &:hover,
  &:active,
  &:focus {
    transform: scale3d(0.95, 0.95, 1);
    border-color: $n3 !important;
    background-color: $n5 !important;
    box-shadow: none !important;
  }
}

.btn-secondary {
  border-color: $n5;
  background-color: $n0;
  color: $n5;
  box-shadow: $box-shadow;
  &:hover,
  &:active,
  &:focus {
    transform: scale3d(0.95, 0.95, 1);
    border-color: $n5 !important;
    background-color: $n0 !important;
    box-shadow: none !important;
  }
}

.btn-primary[disabled],
.btn-secondary[disabled] {
  transform: none !important;
  pointer-events: none;
  opacity: 0.7;
}

.woocommerce-message,
.woocommerce-info {
  background-color: $n0;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 2rem auto;

  .button.wc-forward.wp-element-button {
    background: $n0;
    border: 1px solid $n5;
    font-weight: 500;
    border-radius: $border-radius;
  }
}

.woocommerce-message {
  .restore-item {
    color: $blue;
    text-decoration: underline;
  }

  border-color: $green;
  &::before {
    color: $green;
  }
}

.woocommerce-info {
  border-color: $blue;
  &::before {
    color: $blue;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.container-index {
  flex: 1 1;
  min-height: calc(100vh - 140px);
}
