.header {
  font-family: $font-display;
  background-color: $c0;
  border-radius: calc($border-radius * 2);
  box-shadow: $box-shadow;
}

[data-icon="carrinho"],
[data-icon="minha-conta"] {
  display: inherit;
  position: relative;
}
.logged-in [data-icon="minha-conta"] {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid $c1;
}

.cartLabel > [data-icon="carrinho"]::after {
  content: "Meu carrinho";
  margin-right: 12px;
}

.cartLabel > [data-icon="minha-conta"]::after {
  content: "Minha Conta";
  margin-right: 12px;
}

.carrinho-count {
  position: absolute;
  padding: 0.2rem;
  background: $orange;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c0;
  font-size: 0.9rem;
  left: 11px;
  top: -4px;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 2px;
  background-color: $c2;
  width: 0%;
  transition: 0.3s width;
  border-radius: $border-radius;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
