.intro {
  margin: 7rem auto;
}

.intro h1,
.diferenciais h2 {
  font-family: $font-display;
}

.diferenciais .apoio,
.diferenciais .destaque {
  white-space: nowrap;
}

.diferenciais .h2 {
  font-family: $font-primary;
}

@media (max-width: 768px) {
  .diferenciais ul {
    flex-direction: column;
    gap: 3rem;
  }
}
