.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-thankyou-order-received,
.woocommerce-thankyou-order-details {
  background-color: $c0;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 2rem auto;

  .button.wc-forward.wp-element-button {
    background: $c0;
    border: 1px solid $c5;
    font-weight: 500;
    border-radius: $border-radius;
  }
}

.woocommerce-thankyou-order-received,
.woocommerce-thankyou-order-details {
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
}
.woocommerce-thankyou-order-received {
  border: 2px solid $green;
}

.woocommerce-thankyou-order-details {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  justify-content: center;
  padding: 2rem;
}

.woocommerce-message {
  .restore-item {
    color: $blue;
    text-decoration: underline;
  }

  border-color: $green;
  &::before {
    color: $green;
  }
}

.woocommerce-info {
  border-color: $blue;
  &::before {
    color: $blue;
  }
}

.woocommerce-error {
  border-color: $red;
  &::before {
    color: $red;
  }
}
