@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Raleway:wght@400&display=swap");

$font-primary: "Poppins", sans-serif;
$font-display: "Raleway", sans-serif;

$background: #f0f0f0;

$c0: #fff;
$c1: #a1a1a1;
$c2: #525252;
$c3: #292929;
$c4: #1b1b1b;
$c5: #0e0e0e;

$green: #07c507;
$blue: #1578df;
$red: #ff0b15;
$orange: #d0380c;

$border-radius: 8px;

$box-shadow: 0 0 13px hsl(0deg 0% 79% / 25%);
